{% extends 'HETICAppBundle::layout.html.twig' %}

{% block template %}

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

{% block header %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="{{path('hetic_app_homepage')}}">
                        <img src="{{asset('bundles/heticapp/img/logo_RS.png')}}" alt="logo_header" class="logo">
                    </a>
<ul id="menu_horizontal">
<li class="bouton_gauche"><a href="#">Accueil</a></li>
<li class="bouton_gauche"><a href="#">Notre Concept</a></li>
<li class="bouton_gauche"><a href="#">Mon Panier</a></li>
<li class="bouton_droite"><a href="#">Connexion</a></li>
<li class="bouton_droite"><a href="#">Deconnexion</a></li>
</ul>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block main %}
{% endblock main %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="{{path('hetic_app_homepage')}}">
                    <img src="{{asset('bundles/heticapp/img/logo_RS.png')}}" alt="logo_footer" class="logo">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <nav>
                    <ul>
                        <li><a href="#">Notre Concept</a></li>   
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Mentions légales</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <nav class="socials">
                    <ul>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-instagram"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>

{% endblock template %}
